html {
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arimo', sans-serif;
}

.container {
    width: 90%;
}

button {
    margin: 2px;
    text-align: center;
    height: 30px;
    border: 1px solid #D9E1E8;
    border-radius: 2px;
    color: #000;
    background-color: #fff;
}

button span {
    padding: 0 10px 0;
}

.selected {
    color: #fff;
    background-color: #1E93F5;
}

.buttonText {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.buttonAmount {
    font-weight: 400;
    text-align: right;
    font-size: 12px;
    line-height: 14px;
}

#All .buttonAmount {
    padding: 0;
}

/****************** BUTTON MORE FUNCTIONALITY START ****************/

#dropdownMenu {
    position: relative;
}

#buttonMore:hover {
    cursor: pointer;
    color: #fff;
    background-color: #1E93F5;
}

.menuContent {
    display: none;
    position: absolute;
    left: 0;
    margin-top: 5px;
    padding: 25px;
    z-index: 1;
    width: auto;
    min-width: 400px;
    background-color: #f2f2f2;
    box-shadow: 10px 10px 5px #a2a2a2;
}

.showMenu {
    display: block;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding: 5px 15px 5px 45px;
    color: #000;
    cursor: pointer;
}

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: absolute;
    left: 10px;
    top: 5px;
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: 0;
    left: 15px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
}

input[type="checkbox"] + label:hover, input[type="checkbox"]:checked + label {
    color: #1E93F5;
    background-color: #ddd;
}

input[type="checkbox"] + label:hover::after {
    content: "only";
    font-size: 16px;
    margin-left: 30px;
    color: #000;
}

.dropdownText {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
}


.dropdownAmount {
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    float: right;
}

/****************** BUTTON MORE FUNCTIONALITY END ******************/
