html {
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arimo', sans-serif;
}

.container {
    width: 90%;
}

button {
    margin: 2px;
    text-align: center;
    height: 30px;
    border: 1px solid #D9E1E8;
    border-radius: 2px;
    color: #000;
    background-color: #fff;
}

button span {
    padding: 0 10px 0;
}

.selected {
    color: #fff;
    background-color: #1E93F5;
}

.buttonText {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.buttonAmount {
    font-weight: 400;
    text-align: right;
    font-size: 12px;
    line-height: 14px;
}

#All .buttonAmount {
    padding: 0;
}
